@import url(https://fonts.googleapis.com/css2?family=Cambo&display=swap);
html{scroll-behavior:smooth}
body{margin:0;font-size:1em;line-height:1.6;font-weight:400;font-family:'Roboto Slab',serif;color:#222}
h1,h2,h3{font-weight:300;margin:.5em 0}
h4,h5,h6{font-weight:700}
h1{font-size:2em;line-height:1.6}
h2{font-size:1.6em;line-height:1.6}
h3{font-size:1.3em;line-height:1.6}
.centre{text-align:center}
.right{text-align:right}
.justify{text-align:justify}
a{color:#06664e}
a:hover,a:visited{color:#0fa0ce}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:2.3em;padding:2px 30px;color:#555;text-align:center;font-size:.8em;font-weight:600;line-height:2em;letter-spacing:.1em;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#fff;background-color:green;border-color:#fff}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#fff;background-color:#1eaedb;border-color:#1eaedb}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #007ca1;outline:0}
label,legend{display:block;margin-bottom:.5em;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5em;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1em 0 1em 3em}
li{margin-bottom:1em}
code{padding:.2em .5em;margin:0 .2em;font-size:90%;white-space:nowrap;background:#f1f1f1;border:1px solid #e1e1e1;border-radius:4px}
pre>code{display:block;padding:1em 1em;white-space:pre}
table{border-collapse:collapse}
td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #c4c3c3}
td:first-child,th:first-child{padding-left:0}
td:last-child,th:last-child{padding-right:0}
img{max-width:100%;height:auto}
figure{margin:0}
@media screen and (min-width:48em){
h1{font-size:3em;line-height:1.6;margin:.5em 0}
h2{font-size:2em;line-height:1.6;margin-bottom:.5em}
h3{font-size:1.6em;line-height:1.6}
}