body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

div {
    border-top: solid white 5em;
}

  table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color:rgb(47, 93, 219);
    border: 1px solid rgb(160, 16, 16);
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }




  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }

  form {
    font: 1em sans-serif;
    max-width: 320px;
  }

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
  width : 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}


  
  @media screen and (max-width: 48em) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
    display: none;
      /*
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      */
    }
    
    table tr {
      border-bottom: 3px solid rgb(160, 16, 16);
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid rgb(160, 16, 16);
      display: block; /* Þetta er það sem lætur þetta raðast niður */
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }