html{
	height: 100%;
}

body{
	height: 100%;
	margin:0;

}

header{
	display:block;
}

h1{
	font-family: "Dancing Script";
	font-size:36px;
	font-weight:400;
	margin:10px 0;
}

h5{
	font-size:18px;
	font-weight:400;
	margin:10px 0;
}

img{
	max-width: 100%
	height:auto;
}

footer{
	display:block;
}

blockquote {
  background-color: white; opacity: 0.70;
}

.haus{
	background:linear-gradient(-73deg, #000000, #959595);
	text-align: center;
	background-position: center;
  	background-size: cover;
  	min-height: 100%;
}

.fyrirsogn{
	background-image: linear-gradient(45deg, #FFFFFF, #000000);
	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent; 
   	-moz-background-clip: text;
   	-moz-text-fill-color: transparent;
	font-family: "Dancing Script";
	font-size: 64px;
	text-align: center;
	padding-top: 250px;
}

.vinstriDalkur{
	padding-top:64px;
	padding-bottom:64px;
	padding-right: 10px;
	padding-left:10px;
	content:"";display:table;clear:both;
	background-color: #FFFFFF;
}

.vinstriDalkur2{
}

.vinstriDalkur3{
	float:left;
	width:100%;
}

.vinstriTexti{
	color:#000000;
	font-family: 'Texturina', serif;

}

.fyrirsogn2{
	float:left;width:100%;
	color: #FFFFFF
}

.haegriDalkur{
	padding-top:64px;
	padding-bottom:64px;
	padding-right: 10px;
	padding-left: 10px;
	content:"";display:table;clear:both;
	background-color: #000000;
}

.haegriDalkur2{
}
.haegriDalkur3{
	float:left;
	width:100%;
	text-align:center;
}

.haegriTexti{
	color:#FFFFFF;
	font-family: 'Texturina', serif;
}

.fyrirsogn3{
	float:left;
	width:100%;
	color: #000000;

}

.nedriDalkur{
	padding-top:64px;
	padding-bottom:64px;
	padding-right: 10px;
	padding-left: 10px;
	content:"";display:table;clear:both;
	background: linear-gradient(45deg, #17801B, #7A3182);
}

.nedriDalkur2{
}
.nedriDalkur3{
	float:left;
	width:100%;
	text-align:center;
}

.nedriTexti{
	color:#000000;
	font-family: 'Texturina', serif;

}

.fotur{
	padding-top:32px;
	padding-bottom:32px;
	text-align:center;
	background-color: #CA5E1D;
}

.divFotur{
}

.takki{
	border:none;
	display:inline-block;
	padding:8px 16px;
	color:#5FB4D9;
	background-color:#634381;
	text-align:center;
}
.takki:hover{
	color:#000;
	background-color:#ccc;
}

.myndband{
	border:none;
	display:inline-block;
	padding:8px 16px;
	color:teal;
	background-color:orange;
	text-align:center;
}
.myndband:hover{
	color:#000;
	background-color:#ccc;
}

.column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "row row"
}

.topbutt {
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #0064CE;
  font-size: 1.5em;
  display: block;
  position: fixed;
  bottom: .5em;
  right: .5em;
  width: 1.5em;
  padding:0 .2em;
}

.topbutt:active, .topbutt:hover {
  background-color: #0064CE;
  color: #fff;